target/
maven-central-deploy.*
pom.xml.*
release.properties
test/

# Gradle files
.gradle/
build/
.gradletasknamecache
gradlew*
gradle/
tamber/build/
local.properties
gradle.properties

# IDEA
.idea
*.iml